<div th:fragment="bande-info" xmlns:th="http://www.thymeleaf.org">
    <section class="section" id="services">
        <div class="container">
            <div class="has-text-centered">
                <p class="title-section">Que souhaitez-vous voir ?</p>
            </div>
            <div>
                <div class="columns is-multiline">
                    <div class="column is-one-third vignette">
                        <div class="has-text-centered"><a href="/livres"><i
                                class="fas fa-book fa-10x fa-dark-blue"></i>
                            <h1 class="title subtitle-service is-uppercase has-text-info tracking-wide font-normal">
                                Nos livres</h1></a>
                            <div class="is-size-5">Visitez notre catalogue de livres
                            </div>
                        </div>
                    </div>
                    <div class="column is-one-third vignette">
                        <div class="has-text-centered"><a href="/profile"><i
                                class="fas fa-user fa-10x fa-dark-blue"></i>
                            <h1 class="title subtitle-service is-uppercase has-text-info tracking-wide font-normal">
                                Votre profile</h1></a>
                            <div class="is-size-5">Accédez à votre profile ainsi que vos livres en cours de réservations
                            </div>
                        </div>
                    </div>
                    <div class="column is-one-third vignette">
                        <div class="has-text-centered"><a href="/contact"><i
                                class="fas fa-map-marked-alt fa-10x fa-dark-blue"></i>
                            <h1 class="title subtitle-service is-uppercase has-text-info tracking-wide font-normal">
                                Contact</h1></a>
                            <div class="is-size-5">Numéro de téléphone : <a href="tel:+330000000000">+33 00 00 00 00
                                00</a><br>
                                Adresse : <a
                                        href="https://www.google.com/maps?q=Le+louvre&um=1&ie=UTF-8&sa=X&ved=0ahUKEwiLg5H4397jAhX9DGMBHQiRA38Q_AUIESgB"
                                        target="_blank">Rue de Rivoli, 75001 Paris </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>