<div class="card" th:fragment="card_livre_expired" xmlns:th="http://www.thymeleaf.org">
    <!--/*@thymesVar id="reservation" type="com.bibliotheque.webapp.model.Reservation"*/-->

    <div class="card-image">
        <figure class="image is-3by4">
            <a th:href="@{/livres/{id} (id=${reservation.livre.getId()})}">
                <img class="filter-black-white" th:src="${reservation.livre.getImgUrl()}" th:alt="${reservation.livre.getNom()}">
            </a>
        </figure>
    </div>
</div>