<div class="hero-head" th:fragment="header" xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar custom-background is-fixed-top">
        <div class="container">
            <!-- Brand -->
            <div class="navbar-brand">
                <a href="/" class="navbar-item">
                    <!--<img class="rotating" src="assets/images/logo/krypton.svg" alt="">-->
                    <span class="brand-name">Bibliothèque</span>
                </a>
                <!-- Responsive toggle -->
                <span class="navbar-burger burger" data-target="navbarMenu">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </span>
            </div>
            <!-- Menu -->
            <div id="navbarMenu" class="navbar-menu light-menu">
                <div class="navbar-end has-text-white">
                    <!-- Menu item -->
                    <div class="navbar-item is-nav-link">
                        <a class="is-centered-responsive" href="/livres">Livres</a>
                    </div>

                    <!-- Profile -->
                    <div th:if="${session.utilisateurId != null}" class="navbar-item is-nav-link">
                        <a class="is-centered-responsive" href="/profile">Profile</a>
                    </div>
                    <!-- Déconnexion -->
                    <div th:if="${session.utilisateurId != null}" class="navbar-item is-nav-link">
                        <a class="is-centered-responsive" href="/deconnexion">Se déconnecter</a>
                    </div>

                    <!-- Menu item -->
                    <div th:if="${session.utilisateurId == null}" class="navbar-item is-nav-link">
                        <a class="is-centered-responsive" href="/connexion">Se connecter</a>
                    </div>
                    <!-- Sign up -->
                    <div th:if="${session.utilisateurId == null}" class="navbar-item">
                        <a href="/inscription" class="button k-button k-primary raised has-gradient slanted">
                            <span class="text">S'inscrire</span>
                            <span class="front-gradient"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <script>
        $(document).ready(function () {

            // Check for click events on the navbar burger icon
            $(".navbar-burger").click(function () {

                // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                $(".navbar-burger").toggleClass("is-active");
                $(".navbar-menu").toggleClass("is-active");

            });
        });
    </script>
</div>