<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html class="" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="fr">
<head th:replace="fragments/head.html :: head">
</head>
<body>
<section class="hero custom-background is-large">
    <div th:replace="fragments/header.html :: header"></div>
    <div class="hero-body hero-body-less-padding">
        <div class="container">
            <div class="columns is-vcentered">

                <!-- Landing page Title -->
                <div class="column is-5 landing-caption">
                    <h1 class="title is-1 is-light is-semibold is-spaced main-title">Votre bibliothèque préférée !</h1>
                    <h2 th:if="${session.mail == null}" class="subtitle is-6 is-light is-thin">Connectez-vous pour bénéficier de
                        l'entièreté de nos services.</h2>
                    <h2 th:if="${session.mail != null}" class="subtitle is-6 is-light is-thin">Rendez-vous sur votre
                    profile pour voir vos réservations.</h2>
                    <!-- CTA -->
                    <p>
                        <a th:if="${session.mail == null}" href="/connexion" class="button k-button k-primary raised has-gradient is-fat is-bold">
                            <span class="text">Se connecter</span>
                            <span class="front-gradient"></span>
                        </a>
                        <a th:if="${session.mail != null}" href="/profile" class="button k-button k-primary raised has-gradient is-fat is-bold">
                            <span class="text">Votre profile</span>
                            <span class="front-gradient"></span>
                        </a>

                    </p>

                </div>
                <!-- Hero image -->
                <div class="column is-7 is-hidden-touch">
                    <figure class="image img-etagere">
                        <img src="images/6710%20%5BConverted%5D3.svg" alt="">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>
<div th:replace="fragments/bandeInfos.html :: bande-info"></div>
<div th:replace="fragments/footer.html :: footer"></div>

</body>
</html>
