<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html class="" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="fr">
<head th:replace="fragments/head.html :: head">
</head>
<body>
<section class="hero home-hero custom-background is-large">
    <div th:replace="fragments/header.html :: header"></div>
    <div class="hero-body hero-body-less-padding">
        <div class="container">
            <div class="columns is-vcentered">

                <!-- Landing page Title -->
                <div class="column is-5 landing-caption">
                    <h1 class="title is-1 is-light is-semibold is-spaced main-title">Votre bibliothèque préférée !</h1>
                    <h2 class="subtitle is-6 is-light is-thin">Inscrivez-vous puis connectez-vous pour bénéficier de
                        l'entièreté de nos services.</h2>
                    <!-- CTA -->
                    <p>
                        <a href="#" class="button k-button k-primary raised has-gradient is-fat is-bold">
                            <span class="text">S'inscrire</span>
                            <span class="front-gradient"></span>
                        </a>
                    </p>

                </div>
                <!-- Hero image -->
                <div class="column is-7 is-hidden-touch">
                    <figure class="image img-etagere">
                        <img src="images/6710%20%5BConverted%5D3.svg" alt="">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section" id="services">
    <div class="container">
        <div class="has-text-centered">
            <p class="title-section">Que souhaitez-vous voir ?</p>
        </div>
        <div>
            <div class="columns is-multiline">
                <div class="column is-one-third vignette">
                    <div class="has-text-centered"><a href="/livres"><i
                            class="fas fa-book fa-10x fa-dark-blue"></i>
                        <h1 class="title subtitle-service is-uppercase has-text-info tracking-wide font-normal">
                            Nos livres</h1></a>
                        <div class="is-size-5">Visitez notre catalogue de livres
                        </div>
                    </div>
                </div>
                <div class="column is-one-third vignette">
                    <div class="has-text-centered"><a href="/profile"><i
                            class="fas fa-user fa-10x fa-dark-blue"></i>
                        <h1 class="title subtitle-service is-uppercase has-text-info tracking-wide font-normal">
                            Votre profile</h1></a>
                        <div class="is-size-5">Accédez à votre profile ainsi que vos livres en cours de réservations
                        </div>
                    </div>
                </div>
                <div class="column is-one-third vignette">
                    <div class="has-text-centered"><a href="/contact"><i
                            class="fas fa-map-marked-alt fa-10x fa-dark-blue"></i>
                        <h1 class="title subtitle-service is-uppercase has-text-info tracking-wide font-normal">
                            Contact</h1></a>
                        <div class="is-size-5">Numéro de téléphone : <a href="tel:+330000000000">+33 00 00 00 00
                            00</a><br>
                            Adresse : <a
                                    href="https://www.google.com/maps?q=Le+louvre&um=1&ie=UTF-8&sa=X&ved=0ahUKEwiLg5H4397jAhX9DGMBHQiRA38Q_AUIESgB"
                                    target="_blank">Rue de Rivoli, 75001 Paris </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div th:replace="fragments/footer.html :: footer"></div>

<script src="js/aos.js"></script>
<script>
    AOS.init({
        easing: 'ease-in-out-sine'
    });
</script>
</body>
</html>
