<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html class="" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="fr">
<head th:replace="fragments/head.html :: head">
</head>
<body>
<section class="hero is-large is-fullheight-with-navbar">
    <div th:replace="fragments/header.html :: header"></div>
    <div class="hero-body hero-body-less-padding without-valign">
        <div class="container">
            <div class="field columns search has-addons has-addons-centered">
                <h1 class="title" th:text="'Bonjour ' + ${utilisateur.getPrenom()}"></h1>
            </div>
        </div>
    </div>
</section>

<div class="columns is-multiline">
    <div class="column is-one-quarter" th:each="livre:${livres}">
        <a th:href="@{/livres/{id} (id=${livre.getId()})}">
            <figure class="image is-3by4">
                <img th:src="${livre.getImgUrl()}" th:alt="${livre.getNom()}"></figure>
        </a>
    </div>
</div>
<div th:replace="fragments/footer.html :: footer"></div>
</body>
</html>
