<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html class="" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="fr">
<head th:replace="fragments/head.html :: head">
</head>
<body>
<section class="hero custom-background is-large">
    <div th:replace="fragments/header.html :: header"></div>
    <div class="hero-body hero-body-less-padding">
        <div class="container">
            <div class="columns is-vcentered">

                <!-- Landing page Title -->
                <div th:if="${livresDispo > 0}" class="column is-5 is-width-45 landing-caption">
                    <h1 class="title is-1 is-light is-semibold is-spaced main-title">Comment réserver un livre ?</h1>
                    <h2 class="subtitle is-6 is-light is-thin">Pour réserver un livre vous devez vous rendre à la
                        bibliothèque puis présenter le livre que vous souhaitez réserver à la bibliothécaire.<br>
                    Vous pouvez également prolonger la durée de réservation d'un livre d'un mois en vous rendant sur votre profil.</h2>
                    <!-- CTA -->
                    <p>
                        <a href="/profil" class="button k-button k-primary raised has-gradient is-fat is-bold">
                            <span class="text">Profil</span>
                            <span class="front-gradient"></span>
                        </a>
                    </p>
                </div>

                <!-- Landing page Title -->
                <div th:if="${livresDispo <= 0}" class="column is-5 is-width-45 landing-caption">
                    <h1 class="title is-1 is-light is-semibold is-spaced main-title">Aucun livre disponible</h1>
                    <h2 class="subtitle is-6 is-light is-thin">Tous les livres sont actuellement réservés.<br>
                    Vous pouvez tout de même être informé par mail de sa disponibilité et être prioritaire sur la prochaine réservation !</h2>
                    <p> <br>
                        <a th:href="@{/reservation/attente/{id} (id=${livre.getId()})}" class="button is-rounded is-large custom-background-orange has-text-white">
                            <i class="far fa-bell"></i><span class="text">&nbsp;&nbsp;Être prioritaire</span>
                            <span class="front-gradient"></span>
                        </a>
                    </p>
                </div>



            </div>
        </div>
    </div>
</section>

<div th:replace="fragments/bandeInfos.html :: bande-info"></div>

<div th:replace="fragments/footer.html :: footer"></div>

</body>
</html>
